@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    Bem vindo Ao jogo das Bandeiras!
</div>

<div class="row">
    Clique em avançar para continuar.
</div>
<div class="row">
    <button onclick="location.href='@Url.Action("Index", "Flags")'">Avançar</button>
</div>